body{
    background-color: #808080;
}
.container{
    background-color: white;
    margin: auto;
    width:50%;
    border-radius: 5px;
}
h1{
    color: green;
}
button{
    background-color: dodgerblue;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 101%;
    cursor: pointer;
}
table{
    font-size: 120%;

}
input:focus{
    outline: none;
}
p{
    padding-bottom: 1rem;
    color: red;
}